<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    by default scope of bean is singleton which follows :-->
<!--    1. only single object created-->
<!--    2. by default object created during container constructing-->
    <bean id="alien" class="org.example.Alien" autowire="byType">
        <property name="age" value="29"></property>
        <property name="com">
            <bean id="com" class="org.example.Desktop" />
        </property>

<!--        <constructor-arg index="0" value="19"/>-->
<!--        <constructor-arg index="1" ref="lap"/>-->

<!--        <constructor-arg name="age" value="19"/>-->
<!--        <constructor-arg name="lap" ref="lap"/>-->

<!--        <property name="lap" ref="lap"/>-->
    </bean>

    <bean id="lap" class="org.example.Laptop" primary="true" lazy-init="true"/>
    <bean id="com" class="org.example.Desktop" />

</beans>


